<div class="container">
<div class="row">
  <div class="col-12 center-block text-center">
    <h1>Welcome, <%= @user.name %>!</h1>
  </div>
</div>
<hr>


<div class="row">
  <div class="col-6">
    <h2>Your Details</h2>

      <li>Username: <%=@user.username%></li><br>
      <li>Email: <%=@user.email%></li><br>
      <li>Address: <%=@user.address%></li><br>
      <li>Phone Number: <%=@user.phone_number%></li><br>
      <li>Favorite Store: <%=@user.location_name%></li><br>
      <li>TACOCAT Points: <%=@user.taco_points%></li><br>
    <h3><%=link_to "Edit your details", edit_user_path(@user)%></h3>
  </div>
  <div class="vl"></div>

  <div class="col-5">
    <h2>Your Taco Analytics</h2>
      <li>Your Favorite Protein: <%= @user.favorite_("protein")%></li> <br>
      <li>Your Favorite Tortilla: <%= @user.favorite_("tortilla")%></li> <br>
      <li>Your Favorite Topping: <%= @user.favorite_("toppings")%></li> <br>
      <li>You like your tacos... <%= @user.favorite_("sauces")%></li> <br>
  </div>
</div>
</div>

<style>
.vl {
    border-left: 3px solid white;
    border-left-color: #E5E5E5;
    height: 500px;
}
</style>
