<ul>
  <li><%=location.name%></li>
  <li><%=location.address%></li>
  <li><%=location.email%></li>
  <li><%=location.phone_number%></li>
  <li><%=location.opening_time%></li>
  <li><%=location.closing_time%></li>
</ul>
