<style>
  .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
  }

  .wrapper>div {
    padding: 20px;
  }

</style>

<div class="wrapper">
  <div><ul>
    <h1><li><%=location.name%></li></h1>
    <li><%=location.address%></li>
    <li><%=location.email%></li>
    <li><%=location.phone_number%></li>
    <li><%=location.opening_time%></li>
    <li><%=location.closing_time%></li>
  </ul></div>
</div>
