<h3>Our Signature Tacos</h3>

<p class="signature-taco">
  <%= render partial: 'tacos/signature', collection: @signatures %><br>
</p>

<h3><%= link_to "Make Your Own 🌮", new_taco_path %></h3>

<h3>Your Current Order</h3>

<% @user.active_tacos.each do |taco| %>

  <h3><%= taco.generate_name %> - $<%= taco.taco_price %> - (<%=link_to("EDIT", edit_taco_path(taco))%>,
    <%=link_to("DELETE", taco_path(taco.id), method: :delete)%>)</h3>

<% end %>

<h3><%=link_to "Review Your Order", finalize_path(@user) %></h3>

<h3>Total Order Cost: $<%=@user.total %></h3>
