<style media="screen">
  input[type="submit"] {
    border-style: none;
    color: #167AF6;
  }
</style>

<div class="container">
  <!-- row 1 -->
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-11 text-center">
      <h3>Our Signature Tacos</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <br>
    </div>
  </div>
  <!-- row 2 -->
  <!-- 5 signature tacos -->
  <div class="row">
    <div class="col-1">

    </div>
    <p class="signature-taco">
      <%= render partial: 'tacos/signature', collection: @signatures %><br>
    </p>
   <div class="col-lg-1 owntaco">
     <h3><%= link_to "Make Your Own 🌮", new_taco_path %></h3>
   </div>

  </div>
  <!-- row3 -->
  <!-- make your own taco -->
  <div class="row">
    <div class="col-12 text-right">
      <h3>Your Current Order</h3>

      <% @user.active_tacos.each do |taco| %>

        <h3><%= taco.generate_name %> - $<%= taco.taco_price %> - (<%=link_to("EDIT", edit_taco_path(taco))%>,
          <%=form_for @user, url: '/remove_taco' do |f|%>
            <%= f.hidden_field :taco_id, value: taco.id %>
            <%= f.submit "DELETE" %>)
          <% end %>
        </h3>

      <% end %>
    </div>
  </div>
    <div class="row">
        <div class="col-12 text-right">
          <h3><%=link_to "Review Your Order", finalize_path(@user) %></h3>
          <h3>Total Order Cost: $<%=@user.total %></h3>
        </div>
    </div>

</div>
